* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: #191919;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  background-image: url("./assests/Images/bg.jpg");
  background-size: cover;
  background-position: center;
}

body > .body-no-bg {
  background: #fff; /* Set background color for pages without background image */
}
